body {
	width: 480px;
	height: auto;
	min-height: 200px;
	background-color: #ffffff;
	position: relative;
}

#extension-popup-root {
	width: 480px;
	height: auto;
	background-color: #ffffff;
	position: relative;
}

#extension-popup-root .form-container {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	margin: 50px auto;
}

#extension-popup-root h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
}

#extension-popup-root .form-group {
	margin-bottom: 15px;
}

#extension-popup-root  label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

#extension-popup-root input[type="text"],
#extension-popup-root input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	box-sizing: border-box;
}

#extension-popup-root .timer-item {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #f9f9f9;
	transition: background-color 0.3s;
}

#extension-popup-root .timer-item h3 {
	margin: 0;
}


#extension-popup-root .timer-item.timer-active {
	background-color: #e3f7e1;
	/* Light green background to indicate the timer is running */
	border-color: #4caf50;
	/* Green border for active timer */
}

#extension-popup-root .timer-display, #extension-popup-root .timer-display p {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
    padding: 0;
    line-height: 1em;
}

#extension-popup-root .timer-buttons {
	display: flex;
	gap: 10px;
}

#extension-popup-root .logout-button {
	background-color: transparent;
	color: blue;
	border: none;
	cursor: pointer;
}

#extension-popup-root .logout-button:hover {
	text-decoration: underline;
	background-color: transparent;
}

#extension-popup-root .footer {
	text-align: right;
	margin-top: 20px;
}

#extension-popup-root button.teamwork-button {
	padding: 8px 18px;
}
